body {
  background-color: black;
  background-image: url("https://i.ytimg.com/vi/RGMXzg1lXqM/maxresdefault.jpg");
  /*http://www.mariouniverse.com/images/maps/snes/smw/world-map-5.gif*/
  background-size: 100%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
