body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  background-image: url("https://i.ytimg.com/vi/RGMXzg1lXqM/maxresdefault.jpg");
}

canvas
{
    background: #fffff;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/*canvas {
    padding-left: 0;
    padding-right: 0;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

.ghbuttoncontainer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
