body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: bottom;
  background-image: url("https://images2.alphacoders.com/103/10370.jpg");
}

canvas
{
    display: block;
    margin: auto;
    border: 2px solid black;
}

#github-button-container {
   text-align: center;
   position:relative;
   margin-top: 10px;
}
